/* DOCUMENT INFORMATION
    - Document: Projet final Annie fruits
    - Version: 1.0.0
    - Author: Guillaume
*/

/* COLORS

Vert :  #4BAD3B
        green
Rouge:  #E2403E
        darkred
Bleu:   #1877F2

moccasin
white
           
*/

/* FONTS
    -Default        font-family: 'Assistant', sans-serif;
    h1              font-family: 'Paprika', cursive;

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =NAVBAR
    3. =HOME.BLADE (ACCUEIL)
    4. =INDEX.BLADE (GAMMES)
    5. =
    6. =
    7. =
    8. =




    9. =FOOTER



*/

/* =============== 1. GLOBAL ==================*/

h1 {
    font-family: 'Paprika', cursive;
    margin-top: 5%;
    font-size: 400%;
    color: #4BAD3B;
}


h3 {
    font-family: 'Paprika', cursive;
    color: #E2403E;
}

h5 {
    font-family: 'Paprika', cursive;
    color: #E2403E;
}


.title_h1 {
    margin-top: 0%;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url(/public/images/bandeau3.png);
    color: white;
    font-weight: bolder;

}


p {
    font-family: 'Assistant', sans-serif;
}


main {
    padding-top: 5%;
}


body {
    background-color: moccasin;
}


.card-header {
    background-color: #4BAD3B;
    color: white;
}


th {
    background-color: #4BAD3B !important;
    color: white !important;
}


/* page commande et détail commande */
.red-text {
    color: red !important;
    font-weight: bolder;
}


.alert{
    margin-top: 5%;

}

/* ================== 2. NAVBAR ================= */

nav {
    background-color: #4BAD3B;
    box-shadow: 10px 5px 5px green;
}


.logo_navbar {
    width: 200px;
    border-end-end-radius: 30px;
    border-start-start-radius: 30px;
}


.logo_navbar:hover {
    box-shadow: 10px 5px 5px green;
}


.btn-ghost {
    background-image:
        url(/public/images/ardoise4.jpg);
    color: white;
    font-family: 'Paprika', cursive;
    white-space: nowrap;
}


.btn-ghost:hover {
    color: white;
    box-shadow: 5px 5px 5px white;
}


.dropdown-item {
    font-family: 'Paprika', cursive;
    color: #4BAD3B;
}


.dropdown-item:hover {
    color: #E2403E;
}


.person {
    color: white;
    font-size: 280%;
}


.person:hover {
    color: #E2403E;
}


.cart {
    color: white;
    font-size: 200%;
}


.cart:hover {
    color: #E2403E;

}

.hamburger {
    background-color: #E2403E;
}



/* =============== 3. HOME.BLADE (ACCUEIL) ==================*/

.carousel-caption {
    background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8));
    border-end-end-radius: 50px;
    border-start-start-radius: 50px;
    margin-bottom: 25%;
}


.bandeau-accueil {
    background-color: #E2403E;
    box-shadow: 10px 5px 5px darkred;
}


.logo_bandeau {
    font-size: 400%;
}


.text_bandeau {
    color: white;
}


.entree {
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    border-style: solid;
    border-color: #4BAD3B;
}


.histoire {
    color: #4BAD3B;
    font-weight: bolder;
}


.text_histoire {
    font-size: medium;
    text-align: justify;
}


/* ============= 4. NOUS CONTACTER ========== */


.coordonnees {
    padding-top: 15%
}


.photo_contact {
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    border-style: solid;
    border-color: #4BAD3B;
}


iframe {
    position: relative;
    overflow: hidden;
    width: 70%;
    border-start-start-radius: 50px;
    border-end-end-radius: 50px;
    box-shadow: 10px 5px 5px green;

}

/* ============= . INDEX.BLADE (GAMMES) ========== */

/* .title_h1 {
    margin-top: 0%;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url(/public/images/bandeau3.png);
    color: white;
    font-weight: bolder;

} */


.nos_univers {
    font-size: xx-large;
}


span {
    color: #4BAD3B;
    font-family: 'Paprika', cursive;
}


.card-title {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7));
    border-end-end-radius: 30px;
    border-start-start-radius: 30px;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}


/* ============= 4. SHOW.BLADE (articles) ========== */


.prix_article {
    padding-top: 7%;
    padding-bottom: 7%;
    background-image:
        url(/public/images/ardoise4.jpg);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Paprika', cursive;
    margin-left: 35%;
    margin-right: 35%;

}


.img-article {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 5px green
}


.description-article {
    text-align: justify;
}


.prix {
    font-size: 200%;
    font-weight: bolder;
    color: #4BAD3B;
}


.btn-ajout {
    background-color: #E2403E;
    color: white;
    font-family: 'Paprika', cursive;
    margin: 0% 2% 0% 1%;
    white-space: nowrap;
    border-radius: 25px;
}


.btn-ajout:hover {
    background-color: white;
    color: #E2403E;
    box-shadow: 10px 5px 5px #E2403E;
    border-color: #E2403E;
}


.img-btn-ajout {
    font-size: 200%;
}


.star {
    background-color: white;
    color: #E2403E;
}




/* ============= . SHOW.BLADE (panier) ========== */


.h3_panier_vide {
    margin-top: 10%;
    margin-bottom: 15%;
}


.tableau {
    border-end-end-radius: 30px;
    border-start-start-radius: 30px;
    box-shadow: 10px 5px 5px green;
}


th {
    text-align: center;
}


.fa-pen {
    font-size: 100%;
}


.totalGeneral {
    background-color: #4BAD3B;
    color: white;
}


.fa-arrow-right {
    margin-left: 3%;
}


/* ============= . VALIDATION.BLADE (validation panier) ========== */

.prix_total {
    padding-top: 3%;
    padding-bottom: 3%;
    background-image:
        url(/public/images/ardoise4.jpg);
    /* box-shadow: 10px 5px 5px darkred; */
    border-radius: 10px;
    color: white !important;
    font-weight: bolder;
    font-size: 250% !important;
    font-family: 'Paprika', cursive;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;

}

.jour-heure {
    box-shadow: 10px 5px 5px green;
}

.modal-title {
    margin-left: 35%;
}


/* ============= RESS/VIEWS/AUTH/LOGIN.BLADE (CONNEXION) ==========*/

.card-login {
    padding-top: 10%;
    padding-bottom: 10%;
}


/* ============= RESS/VIEWS/AUTH/REGISTER.BLADE (INSCRIPTION) ==========*/

.card-register {
    padding-top: 4%;
    padding-bottom: 4%;
}


/* ============= RESS/VIEWS/AUTH/VERIFY.BLADE (INSCRIPTION) ==========*/

.card-verify {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* ============= RESS/VIEWS/PASSWORDS/EMAIL.BLADE (MDP OUBLIE) ==========*/

.card-mdp-oublie {
    padding-top: 10%;
    padding-bottom: 10%;
}


/* ============= RESS/VIEWS/USER/EDIT.BLADE (Mon compte) ==========*/

.btn-modif {
    background-color: #4BAD3B;
    color: white;
}


.btn-modif:hover {
    background-color: white;
    color: #4BAD3B;
    box-shadow: 10px 5px 5px #4BAD3B;
    border-color: #4BAD3B;
}


.btn-suppr {
    background-color: white;
    color: #E2403E;
    font-family: 'Paprika', cursive;
    margin: 0% 2% 0% 1%;
    white-space: nowrap;
    border-color: #E2403E;
    border-radius: 25px;
}


.btn-suppr:hover {
    background-color: white;
    color: #E2403E;
    border-color: #E2403E;
    box-shadow: 10px 5px 5px #E2403E;

}




/* ============== FOOTER ===============*/

footer {
    background-color: #4BAD3B;
}


.logo_footer {
    width: 200px;
    border-end-end-radius: 25px;
    border-start-start-radius: 25px;
}


.logo_footer:hover {
    box-shadow: 10px 5px 5px green;
}


.footer-lien {
    color: white;
    font-weight: bolder;
}


.footer-lien:hover {
    color: #E2403E;
}


.logo-facebook {
    font-size: 400%;
    color: #E2403E;
}


.logo-facebook:hover {
    color: #1877F2;
}


.copyright {
    color: white;
    font-size: small;
}


/* ============== BACK OFFICE ===============*/

.text-description {
    text-align: justify;
}

.new_gamme {
    margin-left: 36%;
}


.btn-ghost-bo {
    background-image:
        url(/public/images/ardoise4.jpg);
    color: white;
    font-family: 'Paprika', cursive;
    white-space: nowrap;
}


.btn-ghost-bo:hover {
    color: white;
    box-shadow: 5px 5px 5px #E2403E;
}



/* ************************** MEDIA QUERIES *************************** */



/* *************** MEDIA QUERIES 1400px *************** */

@media screen and (max-width: 1400px) {}







/* *************** MEDIA QUERIES 1200px *************** */

@media screen and (max-width: 1200px) {


    /* ========== HOME.BLADE ========== */

    .carousel-caption {
        margin-bottom: 20%;
    }

    .h1_carousel {
        font-size: 320%;
    }

    .h3_carousel {
        font-size: 150%;
    }


    /* ========== SHOW.BLADE (articles) ========== */

    h1 {
        margin-top: 10%;
    }




}



/* *************** MEDIA QUERIES 991px *************** */

@media screen and (max-width: 991px) {


    /* ========== NAVBAR ========== */

    .nav-item {
        display: flex;
        justify-content: center;
        padding: 1%;
    }


    /* ========== HOME.BLADE ========== */

    .carousel-caption {
        margin-bottom: 15%;
    }

    .h1_carousel {
        font-size: 270%;
    }

    .h3_carousel {
        font-size: 150%;
    }


    /* ========== INDEX.BLADE (gammes) ========== */

    .title_h1 {
        margin-top: 10%;
    }


    /* =========== . INDEX.BLADE (favoris) ========== */

    .img_rupture {
        width: 70% !important;
    }
}




/* *************** MEDIA QUERIES 767px *************** */

@media screen and (max-width: 767px) {


    /* ========== HOME.BLADE ========== */

    .h1_carousel {
        font-size: 200%;
    }

    .h3_carousel {
        font-size: 100%;
    }


    /* ========== INDEX.BLADE (gammes) ========== */

    .title_h1 {
        margin-top: 15%;
    }


    /* ========== SHOW.BLADE (articles) ========== */

    h1 {
        margin-top: 15%;
    }

    /* =========== . INDEX.BLADE (favoris) ========== */

    .img_rupture {
        width: 120% !important;
    }
}





/* *************** MEDIA QUERIES 575px *************** */

@media screen and (max-width: 575px) {


    /* ========== HOME.BLADE ========== */

    .carousel-caption {
        margin-bottom: 10%;
    }

    .h1_carousel {
        font-size: 130%;
    }

    .h3_carousel {
        font-size: 70%;
    }


    /* ========== INDEX.BLADE (gammes) ========== */

    .title_h1 {
        margin-top: 22%;
    }


    /* ========== SHOW.BLADE (articles) ========== */

    h1 {
        margin-top: 20%;
    }

}


/* *************** MEDIA QUERIES 475px *************** */

@media screen and (max-width: 475px) {


    /* ========== HOME.BLADE ========== */

    .carousel-caption {
        margin-bottom: 6%;
    }


    /* ========== INDEX.BLADE (gammes) ========== */

    .title_h1 {
        margin-top: 28%;
    }

    /* ========== SHOW.BLADE (articles) ========== */

    h1 {
        font-size: x-large;
        margin-top: 25%;
    }

    /* ========== . VALIDATION.BLADE (validation panier) ========== */

    .prix_total {

        font-size: 150% !important;


    }
}




/* ================ MEDIA QUERIES 401px =============== */

@media screen and (max-width: 401px) {


    /* ========== HOME.BLADE ========== */

    .carousel-caption {
        margin-bottom: 1%;
    }

    .h1_carousel {
        font-size: 80%;
    }

    .h3_carousel {
        font-size: 40%;
    }


    .logo_bandeau {
        font-size: 200%;
    }

    /* ========== INDEX.BLADE (gammes) ========== */

    .title_h1 {
        margin-top: 35%;
    }


    /* ========== SHOW.BLADE (articles) ========== */

    h1 {
        margin-top: 30%;
    }

}




/* ================ MEDIA QUERIES 350px =============== */

@media screen and (max-width: 350px) {


    /* ========== INDEX.BLADE (gammes) ========== */

    .title_h1 {
        margin-top: 40%;
    }





    /* ========== SHOW.BLADE (articles) ========== */

    h1 {
        margin-top: 35%;
    }



    /* ================ MEDIA QUERIES 320px =============== */

    @media screen and (max-width: 320px) {


        /* ========== INDEX.BLADE (gammes) ========== */

        .title_h1 {
            margin-top: 45%;
        }



    }








}