
/* DOCUMENT INFORMATION
    - Document: Projet final Annie fruits
    - Version: 1.0.0
    - Author: Guillaume
*/

/* COLORS

limegreen
#F50D1B


    -default body text 
    -h1                
    -h4                    
    -h5                 

    -button             

    -button:hover       

    -icon               
                    
    -border             
*/

/* FONTS
    -Default        font-family: 'Assistant', sans-serif;
    h1              font-family: 'Paprika', cursive;

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =INDEX
    4. =PANIER et VALIDATION
    5. =INSCRIPTION
    6. =MON COMPTE
    7. =MODIFINFOS et MODIFADRESSE
    8. =MODIFMDP
    9. =FOOTER



*/

/* ==================================*/
 
h1{
    font-family: 'Paprika', cursive;
    font-size: 400%;
    color:limegreen;
    
}

h3{
    font-family: 'Paprika', cursive;
    color: #F50D1B;
}


p{
    font-family: 'Assistant', sans-serif;
}
.carousel-caption{
    background:linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7));
    border-radius: 50px;
    margin-bottom: 25%;
}

.bandeau-accueil{
    background-color: #F50D1B;
}

/* .logo_bandeau{
    margin:3% 0%
} */

.text_bandeau{
    color: white;
}


.entree {
    border-radius: 20px;
    border-style:solid;
    border-color: limegreen;
}

.histoire {
    color:limegreen;
    font-weight:bolder;
}

.text_histoire {
    font-size: medium;
}





/* NAVBAR */

nav {
    background-color:limegreen;
}

.logo_navbar{
    width:30%;
    border-radius: 50px;
}

.btn-ghost{
    background-color: #F50D1B;
    color: white;
    font-family: 'Paprika', cursive;
    margin:0% 1% 2% 1%;
    white-space: nowrap;
    border-radius: 30px;

}

.btn-ghost:hover{
    background-color: white;
    color: #F50D1B;
}

.fa-solid {
    font-size: 200%;
}

.dropdown-item{
    font-family: 'Paprika', cursive;
    color:limegreen;
}

.dropdown-item:hover{
    color:#F50D1B;
}




/*EDIT.BLADE.php*/

.card-header{
    background-color: limegreen;
    color:white;
}











/* FOOTER */
 footer {
    background-color: limegreen;
    color: white;
 }

.logo_footer {
    width: 50%;
    border-radius: 50px;
}
.logo_facebook {
    width: 15%;
}