/* DOCUMENT INFORMATION
    - Document: Projet final Annie fruits
    - Version: 1.0.0
    - Author: Guillaume
*/

/* COLORS

Vert :  limegreen
        green
Rouge:  #F50D1B
        darkred
Bleu:   #1877F2

beige
white
           
*/

/* FONTS
    -Default        font-family: 'Assistant', sans-serif;
    h1              font-family: 'Paprika', cursive;

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =NAVBAR
    3. =HOME.BLADE (ACCUEIL)
    4. =INDEX.BLADE (GAMMES)
    5. =
    6. =
    7. =
    8. =




    9. =FOOTER



*/

/* =============== 1. GLOBAL ==================*/

h1 {
    font-family: 'Paprika', cursive;
    font-size: 400%;
    color: limegreen;
}


h3 {
    font-family: 'Paprika', cursive;
    color: #F50D1B;
}

h5 {
    font-family: 'Paprika', cursive;
    color: #F50D1B;

}


p {
    font-family: 'Assistant', sans-serif;
}


main {
    padding-top: 5%;
}


body {
    background-color: beige;
}


.card-header {
    background-color: limegreen;
    color: white;
}


/* ================== 2. NAVBAR ================= */

nav {
    background-color: limegreen;
    box-shadow: 10px 5px 5px green;
    border-top-left-radius: 20px;
}


.logo_navbar {
    width: 25%;
    border-radius: 50px;
}


.logo_navbar:hover {
    box-shadow: 10px 5px 5px green;
}


.btn-ghost {
    background-color: #F50D1B;
    color: white;
    font-family: 'Paprika', cursive;
    margin: 0% 1% 2% 1%;
    white-space: nowrap;
    border-radius: 25px;
    border-color: white;
}


.btn-ghost:hover {
    background-color: white;
    color: #F50D1B;
    box-shadow: 10px 5px 5px #F50D1B;
    border-color: #F50D1B;
}


.dropdown-item {
    font-family: 'Paprika', cursive;
    color: limegreen;
}


.dropdown-item:hover {
    color: #F50D1B;
}


.cart {
    color: #F50D1B;
    font-size: 200%;
}


.cart:hover {
    color: white;
}


/* =============== 3. HOME.BLADE (ACCUEIL) ==================*/

.carousel-caption {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7));
    border-end-end-radius: 50px;
    border-start-start-radius: 50px;
    box-shadow: 10px 5px 5px green;
    margin-bottom: 25%;
}


.bandeau-accueil {
    background-color: #F50D1B;
    box-shadow: 10px 5px 5px darkred;
    border-end-start-radius: 20px;
}


.logo_bandeau {
    font-size: 400%;
}


.text_bandeau {
    color: white;
}


.entree {
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    border-style: solid;
    border-color: limegreen;
    box-shadow: 10px 5px 5px green;
}


.histoire {
    color: limegreen;
    font-weight: bolder;
}


.text_histoire {
    font-size: medium;
    text-align: justify;
}


/* ============= 4. INDEX.BLADE (GAMMES) ========== */

.title_h1 {
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url(/public/images/bandeau3.png);
    color: white;
    font-weight: bolder;
}


.nos_univers {
    font-size: xx-large;
}


span {
    color: limegreen;
    font-family: 'Paprika', cursive;
}


.card-title {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7));
    border-end-end-radius: 30px;
    border-start-start-radius: 30px;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

/* ============= 4. SHOW.BLADE (articles) ========== */

.img-article {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkred;
}


.description-article {
    text-align: justify;
}


.prix {
    font-size: 200%;
    font-weight: bolder;
    color: limegreen;
}


.btn-ajout {
    background-color: limegreen;
    color: white;
    font-family: 'Paprika', cursive;
    margin: 0% 2% 0% 1%;
    white-space: nowrap;
    border-radius: 25px;
    border-color: white;
}


.btn-ajout:hover {
    background-color: white;
    color: limegreen;
    box-shadow: 10px 5px 5px limegreen;
    border-color: limegreen;
}

.img-btn-ajout {
    font-size: 200%;
}



/* ============= . SHOW.BLADE (panier) ========== */

.h1_panier{
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url(/public/images/bandeau3.png);
    color: white;
    font-weight: bolder;
}


.h3_panier_vide{
    margin-top: 10%;
    margin-bottom: 10%;
}


.fa-pen {
    font-size: 100%;
}


/* ============= RESS/VIEWS/AUTH/LOGIN.BLADE (CONNEXION) ==========*/

.card-login {
    padding-top: 10%;
    padding-bottom: 10%;
}


/* ============= RESS/VIEWS/AUTH/REGISTER.BLADE (INSCRIPTION) ==========*/

.card-register {
    padding-top: 4%;
    padding-bottom: 4%;
}

/* ============= RESS/VIEWS/USER/EDIT.BLADE (Mon compte) ==========*/

.btn-modif {
    background-color: limegreen;
    color: white;
}


.btn-modif:hover {
    background-color: white;
    color: limegreen;
    box-shadow: 10px 5px 5px limegreen;
    border-color: limegreen;
}


.btn-suppr {
    background-color: red;
    color: white;
}


.btn-suppr:hover {
    background-color: white;
    color: red;
    box-shadow: 10px 5px 5px red;
    border-color: red;
}







/* ============== FOOTER ===============*/

footer {
    background-color: limegreen;
    box-shadow: 10px 5px 5px green;
    border-top-right-radius: 20px;
}


.logo_footer {
    width: 50%;
    border-radius: 50px;
}


.logo_footer:hover {
    box-shadow: 10px 5px 5px green;
}


.footer-lien {
    color: #F50D1B;
}


.footer-lien:hover {
    color: white;
}


.logo-facebook {
    font-size: 400%;
    color: #F50D1B;
}


.logo-facebook:hover {
    color: #1877F2;
}


.copyright {
    color: #F50D1B;
}